<%= hidden_field_tag(:individual)%>	
<label class="field">Razão Social</label>
<%= autocomplete_field_tag 'razao', '', autocomplete_customer_razao_customers_path, :size => 75,:id_element => '#individual' %>