<div class="container">

  <h1 class="section">Configurações</h1>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Descricao</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @configs.each do |config| %>
      <tr>        
        <td><%= config.descricao %></td>
        <td><%= config.valor %></td>        
        
        <td><%= link_to 'Editar', edit_config_path(config), remote: true, :class => 'btn btn-sm btn-primary' %></td>        
      </tr>
    <% end %>
  </tbody>
</table>


  <%= render 'dialog' %>
  </div>