<div class="modal-dialog">
<div class="modal-content">
    <div class="modal-body">
        <h4 class="modal-title" id="myModalLabel">Novo cliente</h4>
        <%= render 'form' %>
    </div>
</div>
</div>