
<footer class="centered">
      <div class="container">
        <ul>
          <li><a href="#">AJUDA</a></li>
          <li><%= render 'devise/menu/login_items' %></li>
        </ul>
      </div>
      <br>


Densenvolvido por <a href="http://www.bergsonlm.com" target="_blank"> Bergson Lima </a><br/>
com Ruby on Rails <%= image_tag "ror_logo.png", :height => "16px" %>
    </footer>